body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(images/bg.jpg) repeat;
  animation: bgAnimation 30s linear infinite;
  font-family: 'Rancho', cursive;
}

@keyframes bgAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 100vh;
  }
  
}

* {
  box-sizing: border-box;
}

:root {
  --animate-delay: 0.5s;
}

.qr {
  display: none;
}

.display-mode #playerName page > *{
  display: none;
}
.display-mode #playerName .qr{
  display: block;
}
.playerName{
  padding: 20px 40px;
  text-align: center;
  font-size: 28px;
  width: 90%;
  border: 2px solid #000;
  font-family: 'Rancho', cursive;
  border-radius: 10px;
  margin-bottom: 30px;
}

.btn {
  border: 2px dashed white;
  background-color: #be0b0b;
  font-family: 'Rancho', cursive;
  color: white;
  font-size: 3vh;
  padding: 15px 40px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  align-self: center;
}

game {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

game.active {
  display: flex;
}

screen {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  flex-direction: column;
}

screen.active {
  display: flex;
}

page {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5%;
}
page:first-child {
  display: flex;
}


h1, h2, h3, h4, h5 {
  font-family: 'Rancho', cursive;
  color: white;
  text-shadow: 0 0 10px black;
}

h1{
  font-size: 8vw;
}
h2{
  font-size: 7vw;
}
h3{
  font-size: 6vw;
}

.display-mode h1{
  font-size: 6vw;
}


.gamelogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  width: 90%;
  height: 90%;
  object-fit: contain;
  overflow: hidden;
}

.gamelogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
}

#start{
  background: linear-gradient(180deg, rgba(54,119,117,0.85) 0%, rgba(162,189,131,0.85) 25%, rgba(244,157,83,0.85) 50%, rgba(226,72,37,0.85) 75%, rgba(56,79,86,0.85) 100%);
}
.display-mode #start{
  background: linear-gradient(90deg, rgba(54,119,117,0.85) 0%, rgba(162,189,131,0.85) 25%, rgba(244,157,83,0.85) 50%, rgba(226,72,37,0.85) 75%, rgba(56,79,86,0.85) 100%);
}

#playerName {
  background-color: #11547bd4;
}
#leaderboard {
  background-color: #ffd700d4;
}
#teamscore {
  background-color: #da2020c7;
}
#game1{
  background-color: #0a9fd0bd;
}
#game2{
  background-color: #c9566ab5;
}
#game3{
  background-color: #742596b8;
}
#game4{
  background-color: #d19a00c7;
}
#game5{
  background-color: #ae003bb3;
}

#activity1 {
  background: #6c370bb8;
}
#activity2 {
  background: #b3daffb8;
}
#activity3 {
  background: #448862b8;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 2vh;
  width: 75%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.answers button {
  border: 2px dashed white;
  background-color: #be0b0b;
  font-family: 'Rancho', cursive;
  color: white;
  font-size: 3vh;
  width: 100%;
  padding: 2vw 4vw;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.answers button.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.answers button.selected{
  border-color: #ffefc8;
  opacity: 1 !important;
}

.answers.reveal button[data-correct="true"] {
  animation: revealCorrect 5s ease-in-out forwards ;
}
.answers.reveal button[data-correct="false"] {
  transition-delay: 2.5s;
  border-color: #ffefc8;
  background-color: black;
}

.display-mode .answers {
  display: none;
}

.display-mode .answers.reveal {
  display: flex;
}

.display-mode .answers.reveal button[data-correct="false"]  {
  display: none;
}
.display-mode .answers.reveal button[data-correct="true"]  {
  display: block;
  opacity: 1 !important;
  font-size: 5vw;
}

@keyframes revealCorrect {
  0% {
    background-color: #be0b0b;
  }
  50% {
    background-color: #be0b0b;
  }
  60% {
    background-color:  #3dd53d;
  }
  70% {
    background-color: #be0b0b;
  }
  80% {
    background-color: #3dd53d;
  }
  90% {
    background-color: #be0b0b;
  }
  100% {
    background-color: #3dd53d;
  }
}

.answers.sliders {
  width: 100%;
  margin-top: 30px;
}

.slider {
  display: flex;
  gap: 30px;
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 7vw;
  font-weight: bold;
  max-height: 1000px;
  transition: all 0.5s ease-in-out;
  transition-delay: 5s;
  opacity: 1;
}

.slider input {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.85;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius:20px;
}

.slider input:hover {
  opacity: 1;
}

.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: #04AA6D;
  border-radius: 100%;
  cursor: pointer;
}

.slider input::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: #04AA6D;
  cursor: pointer;
}

.sliderCorrect,
.sliderTotal {
  color: #e4cd8a;
  text-shadow: 0 0 10px black;
  font-size: 11vw;
  font-weight: bold;
}

.sliderCorrect {
  color: #c3f687;
  max-height: 0;
  transition: all 0.5s ease-in-out;
  transition-delay: 5s;
  opacity: 0;
}

.display-mode .sliderTotal {
  display: none;
} 

.display-mode .answers.sliders .btn {
  display: none;
}

.answers.reveal .sliderCorrect {
  max-height: 1000px;
  opacity: 1;
}
.answers.reveal .slider {
  max-height: 0;
  opacity: 0;
}

.buzzer{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 10px solid #691010;
  border-top-width: 5px;
  border-bottom-width: 20px;
  background: linear-gradient(0deg, rgba(254,68,68,1) 0%, rgb(105 16 16) 100%);
  outline: 1px solid black;
  box-shadow: 0 10px 9px 2px #00000099;
  margin-top: 20px;
}

.currentAnswerer {
  position: absolute;
  width: 85%;
  min-height: 50%;
  background-color: #a42b4a;
  box-shadow: 0 0 30px #000000cf;
  padding: 50px;
  display: none;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: white;
  font-size: 4vh;
  top: 26%;
  left: 7.5%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}


.currentAnswerer.show {
  display: flex;
}

.buzzerCorrect {
  position: absolute;
  width: 85%;
  min-height: 50%;
  background-color: #0cae32;
  box-shadow: 0 0 30px #000000cf;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: white;
  font-size: 5vh;
  top: 25%;
  left: 7.5%;
  border-radius: 20px;
  display: none;
}

.display-mode .currentAnswerer,
.display-mode .buzzerCorrect {
  font-size: 7vh;
  width: 50%;
  left: 25%;
}


.display-mode .buzzerCorrect {
  font-size: 9vh;
}
.display-mode .answers .buzzer {
  display: none;
}
.display-mode .answers.buzzers {
  display: block;
}

.answers.reveal .buzzerCorrect {
  display: flex;
}
.answers.reveal .currentAnswerer {
  display: none;
}


.display-mode #teamscore page > h1 {
  display: none;
}

.teamscore {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  font-size: 8vw;
  color: white;
  text-shadow: 0 0 10px black;
  font-weight: bold;
}

.display-mode .teamscore {
  display: flex;
}

.teamscore > h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  font-size: 20vw;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #c8ffcf;
}

.team .teamName {
  font-size: 6vw;
}


.team:last-child .teamName {
  color: #ffd9c8;
}

.team .teamScore {
  font-size: 16vw;
  color: white;
  padding: 20px 50px;
  background: black;
  border-radius: 20px;
}

#leaderboard page,
.leaderboard {
  width: 100%;
}

#leaderboard h1{
  margin-top: 0;
}

.display-mode #leaderboard page > h1{
  display: none;
}

.leaderboard{
  display: none;
}
.display-mode .leaderboard{
  display: block;
}
.leaderboardScores{
  padding: 0;
  margin: 0 auto;
  margin-top: -20px;
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 90%;
  border-radius: 30px;
  overflow: hidden;
  border: 5px solid #985f1a;
}


.leaderboardScores li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.3vw;
  color: white;
  text-shadow: 0 0 5px black;
  font-weight: bold;
  padding: 7px 50px;
  background: linear-gradient(0deg, rgba(189,100,14,1) 0%, rgba(246,210,121,1) 100%);
  border-bottom: 1px solid goldenrod;
}

.question-image  img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

.display-mode .question-image {
  width: 100%;
  height: 100%;
}
.display-mode .question-image h1 {
  display: none;
}
.display-mode .question-image img {
  display: block;
}
.display-mode .question-image img.image-answer {
  display: none;
}
.display-mode .question-image.reveal img.image-question {
  display: none;
}
.display-mode .question-image.reveal img.image-answer {
  display: block;
}

.display-mode .question-image + .answers {
  display: none;
}

.display-mode #game4 page{
  width: 100%;
  height: 100%;
}